<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Heart Disease Prediction System</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mr-auto">
          <div class="mb-5">
            <h3 class="text-white mb-4">Heart Disease Prediction System</h3>
            <p class="text-white">Heart disease (HD) is one of the most common diseases nowadays, due to number of contributing factors, such as high blood pressure, diabetes, cholesterol fluctuation, exhaustion, and many others.</p>
            <p <span style="color:white;"> Main aim of this predictive system is to automatically predict whether a human is diagnosed with heart disease or not
            </span></p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-white h5 mb-3">Representation of Input</h3>
              <ul class="list-unstyled mb-5">
                <li class="d-flex text-white mb-2">
                  <span class="mr-3"></span></span>- Age (between 20 - 90)
                </li>
                <li class="d-flex text-white mb-2"><span class="mr-3"></span></span> - Blood Pressure (between 80-200)</li>
                <li class="d-flex text-white"><span class="mr-3"></span></span>- Cholesterol (between 80-300) </li>
                <li class="d-flex text-white"><span class="mr-3"></span></span>- Gender (Female = 1 & Male = 0) </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3 class="text-white h5 mb-3">Representation of Output</h3>
              <ul class="list-unstyled mb-5">
                <li class="d-flex text-white mb-2">
                  <span class="mr-3"></span></span>- Diagnosed or not
                </li>
                <li><span style="color:white;">&emsp;&emsp;&emsp;&emsp;Possible Value 01 –</span><span style="color:white;">Yes</span></p>
               <li><span style="color:white;">&emsp;&emsp;&emsp;&emsp;Possible Value 02 –</span><span style="color:white;">No</span></p>
               
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 divForm" style="display:none;">
          <div class="box">
            <h3 class="heading">Input (Human Attributes)</h3>
            <form action="{{ url_for('predict')}}" class="mb-5" method="post" id="predictForm" name="predictForm">
              <div class="row">
                
                <div class="col-md-6">
                  <label for="age" class="col-form-label">Age</label>
                  <input type="number" class="form-control" name="age" id="age" min="20" max="90" placeholder="Enter Age" required> 
                </div>
                <div class="col-md-6">
                  <label for="bp" class="col-form-label">Blood Pressure</label>
                  <input type="number" class="form-control" name="bp" id="bp" min="80" max="200" placeholder="Enter Blood Pressure" required>
                </div>
			</div>
			<div class="row">
                 <div class="col-md-6">
                  <label for="chol" class="col-form-label">Cholesterol Value</label>
                  <input type="number" class="form-control" name="chol" id="chol" min="80" max="300" placeholder="Enter Cholesterol" required>
                </div>
			
                 <div class="col-md-6">
                  <label for="gender" class="col-form-label">Gender</label>
                  <select name="gender" id="gender" class="form-control"> 
                  		<option value="0">Male</option>
						<option value="1">Female</option>
                  </select>
                </div>
                </div>
              <div class="row form-group text-center">
                <div class="col-md-12">
                  <input type="submit" onclick="javascript:sumitForm();" value="Generate Prediction" class="btn btn-block btn-primary" style="width: 220px;position: relative;left: calc(50% - 110px);top: 15px;font-weight: 700;">
                 
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div> 
           
          </div>
          
        </div>
        <div class="col-lg-6 divResult hidden" style="display:none;">
          <div class="box">
            <h3 class="heading"><strong>Prediction</strong></h3>
            
              <div class="row">
                
                <div class="col-md-6">
                  <label>Age: <span style="color:red;">{{age2}}</span></label>
                </div>
                <div class="col-md-6">
                  <label>Blood Presure: <span style="color:red;">{{bp2}}</span></label>
                </div>
			</div>
			<div class="row">
                 <div class="col-md-6">
                  <label>Cholesterol: <span style="color:red;">{{chol2}}</span></label>
                </div>
			
                 <div class="col-md-6">
                  <label>Gender: <span style="color:red;">{{gender2}}</span></label>
                </div>
                </div>
                <div class="row text-center">
                 <div class="col-md-12">
                  <label style="color:red;font-weight:700;font-size: x-large;">{{ prediction_text1 }}</label>
                </div>
			
                </div>
              <div class="row form-group text-center">
                <div class="col-md-12">
                  <input type="button" onclick="gotoback();" value="Back" class="btn btn-block btn-primary" style="width: 220px;position: relative;left: calc(50% - 110px);top: 15px;font-weight: 700;">
                 
                </div>
              </div>
              
              </div>
            
          </div>
      </div>
  </div>
    
    <input type="hidden" id="hdnAgeResult" value="{{age2}}"/>
    
<div class="footer" style="
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
">
  <a>Copyrights © 2021 | Ahmad Arsalan, Dr. Rao Muhammad Adeel Nawab | All Rights Reserved</a>
</div>

  
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
    <script src="/static/js/main.js"></script>

    <script type="">
    $(document).ready(function(){
        if($("#hdnAgeResult").val()){
        
        	$(".divForm").css("display","none");
        	$(".divResult").css("display","block");
        }else{
        	$(".divForm").css("display","block");
        	$(".divResult").css("display","none");
        }
    });
    	function sumitForm(){
    		if($( "#predictForm" ).valid()){
        	$(".divForm").css("display","none");
        	$(".divResult").css("display","block");
        	return true;
        	}
        	return false;
    	}
    	function gotoback(){
    	
        	$(".divForm").css("display","block");
        	$(".divResult").css("display","none");
        	
        	
    	}
    </script>


  </body>
</html>